<div class="center jumbotron">
  <h1> Welcome To NoteBook</h1>
  <p>Best place to create,save and share your thoughts with like minded people online</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up Now</a></p>
</div>